/* input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
} */
.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.number-pad button {
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #eaeaea;
  border-radius: 5px;
  margin-bottom: 10px;
}

.number-pad button:hover {
  background-color: #e0e0e0;
}

.number-pad button:active {
  background-color: #ccc;
}
