/* #root {
  max-width: 1280px;
} */

.calculator {
  width: 600px;
  margin: 20px auto;
  background-color: #f0f0f0;
  border: 2px solid #000;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
